# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\Fábio Silva\Documents\Repositórios ISEP\4º Semestre\LAPR 4\lei20_21_s4_2na_2\docs\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
